Adafruit-Blinka==8.68.1
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bme680==3.7.14
adafruit-circuitpython-busdevice==5.2.14
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-register==1.11.1
adafruit-circuitpython-requests==4.1.15
adafruit-circuitpython-scd30==2.2.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.85.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
certifi==2025.11.12
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
influxdb_client==1.49.0
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.4.0
packaging==25.0
pillow==12.0.0
pyftdi==0.57.1
pyparsing==3.3.1
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.3.1
reactivex==4.1.0
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==80.9.0
six==1.17.0
sysv_ipc==1.1.0
typing_extensions==4.15.0
urllib3==2.6.2
wheel==0.45.1